<form action="/profiles/<%=@profile.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <p>Name:<input type="text" name="profile[name]" value="<%=@profile.name%>"></p><br/>
    <p>Species:<input type="text" name="profile[species]" value="<%=@profile.species%>"></p><br/>
    <p>Age:<input type="text" name="profile[age]" value="<%=@profile.age%>"></p><br/>
    <p>Bio:<textarea id="bio" name="profile[bio]" value="<%=@profile.bio%>"></textarea></p><br/>
    <input type="submit" value="Edit Profile">
</form>
