<h1>Your Next Hot Date is Waiting For You</h1>

<h2><%= @profile.name %> - <%= @profile.species %></h2><br/>
<p><%= @profile.bio %></p>

<br/>

<% if @profile.user == current_user %> 
    <a href="/profiles/<%= @profile.id %>/edit">Edit Monster</a>
<% end %>

<br/>

<% if @profile.user == current_user %> 
    <form action="/profiles/<%=@profile.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="DESTROY MONSTER">
    </form>
<% end %>
